.App {
  text-align: center;
  /* font-family: "Nunito", sans-serif; */
  width: 1150px;
  margin: auto;
}

@media(max-width: 900px){
  .App{
    width: 500px;

  }
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: white;;
  color: white !important;
}

h1,
h4 {
  color: white;
  font-family: 'Times New Roman', Times, serif;

}

.RegCheckOut{
  text-align: center;
  background-color: #d4d4d4;
  border-radius: 10px;
  overflow: visible;
  padding: 30px;
  height: 35rem;
  opacity: 0.9;
  margin: auto;
  text-align: left;
  /* border: 30px solid black; */
  margin-top: -3rem;
  /* padding-left: -90rem;
  padding-right: -10rem; */
  margin-bottom: 13rem;
}

.activateSimCard{
  /* border: 1px solid blue; */
  text-align: center;
  
}


/* Login */

.login-container {
  background-color: #d4d4d4;
  border-radius: 10px;
  overflow: visible;
  padding: 20px;
  opacity: 0.9;
  margin: auto;
  text-align: left;
  /* border: 30px solid black; */
  margin-top: -3rem;
}



@media(max-width:800px){
  .login-container{
    margin-top: 13.5rem;
  }
}

.blueSim{
  opacity: 200%;
  /* border: 1px solid red; */
}

.backgroundTest{
  /* margin-top:30px; */
  /* padding-top:30px */
  background-color: white;
  color: white;
  /* border: 100px solid blue; */
}

.backgroundTesting{
  background-color: white;
  background: white;
  /* margin-top: 3000px */
}

.actualButton{
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  width: 100%;
  border-radius: 1rem;
  height: 3rem;
  /* background-color: white; */
  margin-top: 1rem;
}

.dashboardBtn{
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  width: 95%;
  border-radius: 1rem;
  height: 3rem;
  /* background-color: white; */
  /* margin-top: 1rem; */
  margin-left: 15px
}

.activationInfoBtn{
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  width: 49%;
  border-radius: 1rem;
  height: 3rem;
  /* background-color: white; */
  /* margin-top: 1rem; */
  /* border: 1px solid red; */
  margin: auto 2px auto 2px;
}

#backDash {
  /* border-color: #2196F3; */
  color: black;
  width: 20%;
  /* border: 30px solid red; */
  margin-left: 30px;
  /* background-color: #d4d4d4; */
}

#backDash:hover {
  /* background: #2196F3;
  color: white; */
}


#backSeed{
  background-color: #00CCFF;
  color: white;
  width: 20%;
  margin-left: 15rem;
}

.actBtnCont{
  /* display: flex; */
  align-items: center;
  justify-content: center;
  width: 80%;
  margin-left: 100px;
  margin-top: 3rem;
  /* border: 1px solid blue; */
  /* margin: 3px; */
  display: inline-block;
  height: 10rem;

}



.activationInfoBtn:hover{
  /* background-color:#00CCFF;
  color: white; */
}


.actualButton:hover{
  background-color:#00CCFF;
  color: white;
}


/* Header & Nav */

.bg-primary {
  background-color: #286a93 !important;
}
.navbar {
  /* background-color: #286a93; */
  /* overflow: visible; */
  /* margin-bottom: 2rem; */
}

.menuBar{
  margin-bottom: 2rem;
}

.nav a {
  /* color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 2rem;
  border: 1px solid black; */
}
.nav a:hover {
  /* text-decoration: underline;
  color: #bdc3c7; */
}
/* .navbar-dark .navbar-nav .nav-link.active{
  margin-left: 50rem;
} */

.FormGroup{
  /* border: 1px solid blue; */
  width: 90%;
}

/* Login/Signup */

.activateBtn {
  margin-top: 30px;
  /* border: 1px solid red; */
  width: 103%;
  padding-left: 1rem;
  /* border: 1px solid blue; */
}

#activationCont{
  margin-top: 30px;
}

/* footer */

.footer{
  text-align: center;
  max-width: 1150px;
  margin: auto;
  border-radius: 1rem;
  margin-top: 3rem;
}

@media(max-width: 800px){
  .footer{
    display: none;
  }
}

.footerContainer{
  margin: auto;
  text-align: center;
}
@media(max-width: 800px){
  .footerContainer{
    display: none;
  }
}


/* CheckoutCard */

.checkoutCard{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.checkoutPay{
  /* border: 3px solid red; */
  /* margin-left: 1.5rem; */
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
}

/* Activity Card Styles */

.card-container {
  display: grid;
  grid-template-columns: auto;
}

#footerCard {
  margin-top: 40px;
}
.footerText{
  /* border: 1px solid blue; */
  margin: auto;
  font-family: 'Times New Roman', Times, serif;

}

@media(max-width: 800px){
  .footerText{
    display: none;
  }
}


.card-header {
  font-size: 2em;
  color:Black;
  background: #efefef;
}

.card-body {
  background: #286a93;
  color: #efefef;
  font-size: 1.5em;
}

/* Registration Form */
.registration {
  background-color: #286a93;
  padding: 40px 80px 40px 80px;
  margin-top: 40px;
  border-radius: 10px;
}
/* .rf-username {
  margin-bottom: 40px !important;
} */
/* Activity Update Form */
.update-form-container {
  margin-top: 40px;
}
.energize-select {
  margin-top: 20px;
  margin-bottom: 40px;
}
.engage-select {
  margin-top: 20px;
  margin-bottom: 40px;
}
.activity-form {
  margin-top: 10px;
  margin-bottom: 30px;
}
.btn-outline-success {
  border-color: transparent !important;
}
.btn-outline-danger {
  border-color: transparent !important;
}
.activity-btns {
  padding: 10px;
}
.btn-outline-success a {
  color: #2c7fb3;
}

.btn-outline-success a:hover {
  color: #2c7fb3;
}

.user-input-field {
  display: block;
  width: 50vw;
  text-align: center;
  margin: 40px auto 0 auto;
}

.user-input-button {
  margin-top: 40px;
  width: 50vw;
  color: white;
  background: #286a93;
  transition: 0.6s;
}

.user-input-button:hover {
  color: #286a93;
  background: palegoldenrod;
}

/* Dashboard */
.dashboard-buttons {
  margin-top: 40px;
}

.dashImg{
  /* border: 1px solid blue; */
  /* margin-top: 7rem */
}

.congratsfont{
  color: black;
  font-family: "Times New Roman", Times, serif;
  margin: auto;
  text-align: center;
}

.paraText{
  color: black;
  text-align: center;
}

#paraborder{
  border-top: 1px solid black;
  width: 80%;
  margin-left: 2rem;
  padding-top: 1rem;
}

#textamount{
  background-color: #d6fcff;
  text-align: center;
  height: 5rem;
  padding-top: 1rem;
}

.tryingTest{
  /* border: 1px solid green; */
  margin-top: -1.5rem;
  margin-left: 12rem;
}

.searchBtns{
  /* display: flex; */
  /* border: 1px solid blue; */
  align-items: center;
  justify-content: center;
  width: 100%;
  /* margin-top: 3rem; */
  /* border: 1px solid blue; */
  /* margin: 3px; */
  display: inline-block;
  /* height: 10rem; */
}

.accountImg{
  border: 100px solid blue;
}

.fitCont{
}

.congratsRefill{
  color: black;
  font-family: "Times New Roman", Times, serif;
  margin: 4rem auto auto auto;
  text-align: center;
}

.refillBtn{
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  width: 95%;
  border-radius: 1rem;
  height: 3rem;
  /* background-color: white; */
  margin-top: 1rem;
  margin-left: 1rem;
}

.refillBtn:hover {
  background: #2196F3;
  color: white;
}

.refillText{
  /* border: 1px solid black; */
  color: black;
}


.refillLeft{
  margin-left: 14rem;
  /* border: 1px solid blue; */

}

@media(max-width:800px){
  .refillLeft{
    /* border: 1px solid blue; */
    margin-left: -0.3rem;
  }
}

@media(max-width:800px){
  .refillText{
    /* border: 1px solid green; */
    /* display: none; */
    text-align: center;
  }
}

.refillFormGroup{
  /* border: 1px solid green; */
  width: 80%;
  /* margin-left: 8rem; */
}

@media(max-width:800px){
  .refillFormGroup{
    /* border: 1px solid green; */
    margin-left: 2.5rem;
  }
}

.refillPay{
  border: 1px solid black;
}

@media(max-width: 850px){
  .menuBar{
      /* border: 10px solid green; */
      width: 500px;
      
  }
}

.refillCont{
  background-color: #d4d4d4;
  border-radius: 10px;
  overflow: visible;
  padding: 20px;
  opacity: 0.9;
  margin: auto;
  text-align: left;
  /* border: 30px solid black; */
  margin-top: -3rem;
}


@media(max-width: 850px){
  .refillCont{
      /* border: 10px solid blue; */
      margin-top: 12rem;
      height: 25rem;
  }
}

@media(max-width: 850px){
  .responsiveForm{
    /* border: 1px solid red; */
  }
}

.responsiveImg{
  /* border: 1px solid green; */
}

@media(max-width: 850px){
  .responsiveImg{
    display: none;
  }
}

@media(max-width: 850px){
  .backgroundTest{
    height: 100%;
  }
}

@media(max-width: 850px){
  .refillFont{
    color: black;
    /* border: 1px solid blue; */
  }
}

/* 
@media(max-width: 850px){
  .footerSht{
    border: 1px solid blue;
    margin-top: 36rem;
  }
} */

@media(max-width: 800px){
  .RegCheckOut{
    /* border: 1px solid red; */
    margin-top: 15rem;
    margin-bottom: 10rem;
  }
}

@media(max-width: 800px){
  .responsiveForm{
    /* border: 1px solid red; */
    width: 80%;
    height: 90%;
    margin-top: -2rem;
    margin-left: 2rem;
    padding-top: 1.5rem;
  }
}

@media(max-width: 800px){
  .responsiveTitle{
    display: none;
  }
}

@media(max-width: 800px){
  .responsiveRegForm{
    /* border: 1px solid red; */
    width: 80%;
    height: 90%;
    margin-top: -4rem;
    margin-left: 3.5rem;
    padding-top: 1.5rem;
  }
}

@media(max-width: 800px){
  #activationCont{
    /* border: 1px solid red; */
    margin-top: 15rem;
    margin-bottom: 10rem;
  }
}

.activationParagraph{
  /* border: 1px solid blue; */
  width: 80%;
  text-align: center;
  margin: auto;
  color: black;
}

@media(max-width: 800px){
  .actBtnCont{
    /* border: 10px solid red; */
    width: 100%;
    margin-left: -13.5rem;
  }
}

@media(max-width: 800px){
  .activationInfoBtn{
    /* border: 10px solid blue; */
    width: 80%;
    margin-top: 3rem;
  }
}

@media(max-width: 800px){
  .dashImg{
    /* display: none; */
    width: 30%;
    margin-left: 30%;
  }
}

.dashcontainer{
  background-color: #d4d4d4;
  border-radius: 10px;
  overflow: visible;
  padding: 20px;
  opacity: 0.9;
  /* margin: auto; */
  text-align: left;
  /* border: 30px solid black; */
  margin-top: 2rem;
}

@media(max-width: 800px){
  .dashcontainer{
    /* border: 13px solid green; */
    margin-top: 17rem;
    margin-bottom: 10rem;
  }
}

@media(max-width: 800px){
  .dashText{
    text-align: center;
  }
}

.refillContainer{
  background-color: #d4d4d4;
  border-radius: 10px;
  overflow: visible;
  padding: 20px;
  opacity: 0.9;
  margin: auto;
  text-align: left;
  /* border: 30px solid black; */
  margin-top: -3rem;
}

@media(max-width: 800px){
  .refillContainer{
    /* border: 10px solid blue; */
    margin-top: 15rem;
    margin-bottom: 10rem;
  }
}


@media(max-width: 800px){
  .payPalBtnRefill{
    width: 80%;
    margin: auto;
  }
}

@media(max-width: 800px){
  .checkoutCont{
    width: 100%;
    margin: -1rem auto auto auto;
  }
}


.refillInfoCont{
  background-color: #d4d4d4;
border-radius: 10px;
overflow: visible;
padding: 20px;
opacity: 0.9;
margin: auto;
text-align: left;
/* border: 30px solid black; */
margin-top: -3rem;
}

@media(max-width:800px){
  .refillInfoCont{
    padding-top: .5rem;
    padding-bottom: 0;
    margin-top: 13rem;
    margin-bottom: 10rem;
  }
}


.activateContainer{
  background-color: #d4d4d4;
  border-radius: 10px;
  overflow: visible;
  padding: 20px;
  opacity: 0.9;
  margin: auto;
  text-align: left;
  /* border: 30px solid black; */
  margin-top: -3rem;
}

@media(max-width:800px){
  .activateContainer{
    margin-top: 15rem;
    margin-bottom: 10rem;
  }
}

@media(max-width:800px){
  #backDash{
    display: none;
  }
}

@media(max-width:800px){
  #backSeed{
    width: 90%;
    margin-left: 15rem;
  }
}

.accountInfo{
  /* border: 10px solid green; */
}

.searchCont{
  background-color: #d4d4d4;
  border-radius: 10px;
  overflow: visible;
  padding: 20px;
  opacity: 0.9;
  margin: auto;
  text-align: left;
  /* border: 30px solid black; */
  margin-top: -3rem;
}
@media(max-width:800px){
  .searchCont{
    background: none;
  }
}


@media(max-width:800px){
  .tryingTest{
    /* border: 30px solid red; */
    margin-left: -4.5rem;
    width: 31rem;
    margin-top: 11rem;
    margin-bottom: -2.5rem;
  }
}

#backDashSearch {
  /* border-color: #2196F3; */
  /* color: black; */
  width: 20%;
  /* border: 30px solid red; */
  margin-left: 30px;
  /* background-color: #d4d4d4; */
}

@media(max-width:800px){
  #backDashSearch {
    /* width: 100%; */
    /* border: 40px solid blue; */
    width: 100%;
    margin-top: -40rem;
    margin-left: 0.5rem;
    margin-bottom: 2rem;
  }
}


#backSeedSearch{
  background-color: #00CCFF;
  color: white;
  width: 20%;
  margin-left: 15rem;
}
@media(max-width:800px){
  #backSeedSearch {
    display: none;
  }
}